﻿
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li class="active">Order Confirmation</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Order Confirmation</h1>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Order Confirmation </div>
                <div class="panel-body">
                    <div class="bootstrap-table">
                        <div class="fixed-table-container">
                            <div class="fixed-table-header">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Restaurant</th>
                                                        <th>Location</th>
                                                        <th>Amount</th>
                                                        <th>Delivery Confirmation</th>
                                                        <th>Last Order</th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">001</a></td>
                                                        <td>rebwaeanx asdjsas </td>
                                                        <td>hwenjef hrewb ear, er aw, 122111</td>
                                                        <td>123</td>
                                                        <td>--Not yet--</td>
                                                        <td><a href="">152463</a></td>
                                                        <td><span class="label label-success"><i class="glyphicon glyphicon-ok-circle"></i> Accept</span> <span class="label label-danger" style="margin-left:10px;"><i class="glyphicon glyphicon-remove-circle"></i> Decline</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">001</a></td>
                                                        <td>rebwaeanx asdjsas </td>
                                                        <td>hwenjef hrewb ear, er aw, 122111</td>
                                                        <td>123</td>
                                                        <td>--Not yet--</td>
                                                        <td><a href="">152463</a></td>
                                                        <td><span class="label label-success"><i class="glyphicon glyphicon-ok-circle"></i> Accept</span> <span class="label label-danger" style="margin-left:10px;"><i class="glyphicon glyphicon-remove-circle"></i> Decline</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">001</a></td>
                                                        <td>rebwaeanx asdjsas </td>
                                                        <td>hwenjef hrewb ear, er aw, 122111</td>
                                                        <td>123</td>
                                                        <td>--Not yet--</td>
                                                        <td><a href="">152463</a></td>
                                                        <td><span class="label label-success"><i class="glyphicon glyphicon-ok-circle"></i> Accept</span> <span class="label label-danger" style="margin-left:10px;"><i class="glyphicon glyphicon-remove-circle"></i> Decline</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
