﻿
@{
    ViewBag.Title = "User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li class="active">User</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User</h1>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Application User

                    <a href="#" class="add-btn" data-toggle="modal" data-target="#add-user" title="click to add new user"><i class="fa fa-user-plus"></i></a>

                </div>


                <div class="panel-body">
                    <div class="bootstrap-table">

                        <div class="fixed-table-container">
                            <div class="fixed-table-header">
                                <div class="row">
                                    <div class="col-xs-12">


                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <th>User</th>
                                                        <th>Email</th>
                                                        <th>Phone No</th>
                                                        <th>Location</th>
                                                        <th>Last Order</th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                    <tr>

                                                        <td><a href="#">John Doe</a></td>
                                                        <td>ddgwdwh@gmail.com</td>
                                                        <td>2553365559</td>
                                                        <td>skhdsnd, ddjsdsdb. s</td>
                                                        <td><a href="">152463</a></td>
                                                        <td> <span class="label label-success" title="Modify"><i class="fa fa-pencil"></i></span> <span class="label label-danger" style="margin-left:10px;" title="Delete"><i class="fa fa-trash-o"></i></span></td>
                                                    </tr>

                                                    <tr>

                                                        <td><a href="#">John Doe</a></td>
                                                        <td>ddgwdwh@gmail.com</td>
                                                        <td>2553365559</td>
                                                        <td>skhdsnd, ddjsdsdb. s</td>
                                                        <td><a href="">152463</a></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>

                                                        <td><a href="#">John Doe</a></td>
                                                        <td>ddgwdwh@gmail.com</td>
                                                        <td>2553365559</td>
                                                        <td>skhdsnd, ddjsdsdb. s</td>
                                                        <td><a href="">152463</a></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                            </div>
                        </div>




                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--/.main-->
<!-- Modal -->
<div class="modal fade" id="add-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New User</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email*</label>
                            <input type="email" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Number*</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input class="form-control" type="password" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Current Address</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>State</label>
                            <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>City</label>
                            <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Pincode</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn other-btn">Add New USer</button>
            </div>
        </div>
    </div>
</div>
