﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YummiBook</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/datepicker3.css" rel="stylesheet">
    <link href="~/Content/styles.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <script src="~/Scripts/lumino.glyphs.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#"><span>Yummi</span>Book</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <svg class="glyph stroked male-user">
                                <use xlink:href="#stroked-male-user"></use>
                            </svg>
                            User Name<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    <svg class="glyph stroked male-user">
                                        <use xlink:href="#stroked-male-user"></use>
                                    </svg>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="glyph stroked gear">
                                        <use xlink:href="#stroked-gear"></use>
                                    </svg>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href="~/Admin/Login">
                                    <svg class="glyph stroked cancel">
                                        <use xlink:href="#stroked-cancel"></use>
                                    </svg>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu" style="margin-top:25px;">
            <li class="active">
                <a href="~/Admin/Home">
                    <svg class="glyph stroked dashboard-dial">
                        <use xlink:href="#stroked-dashboard-dial"></use>
                    </svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="~/Admin/User">
                    <svg class="glyph stroked male-user">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-male-user"></use>
                    </svg>
                    User
                </a>
            </li>
            <li class="parent">
                <a href="#">
                    <span data-toggle="collapse" href="#sub-item-1">
                        <svg class="glyph stroked bacon burger">
                            <use xlink:href="#stroked-bacon-burger" />
                        </svg>
                        Food Vendors
                    </span>
                </a>
                <ul class="children collapse" id="sub-item-1">
                    <li>
                        <a class="" href="~/Admin/FoodVendors">
                            <svg class="glyph stroked app-window-with-content">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-app-window-with-content"></use>
                            </svg>
                            Vendors
                        </a>
                    </li>
                    <li>
                        <a class="" href="~/Admin/CreateVendor">
                            <svg class="glyph stroked plus sign">
                                <use xlink:href="#stroked-plus-sign" />
                            </svg>
                            Create Vendor
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/Admin/Menu">
                    <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper" /></svg>

                    Menu
                </a>
            </li>
            <li>
                <a href="~/Admin/OrderConfirmation">
                    <svg class="glyph stroked basket "><use xlink:href="#stroked-basket" /></svg>
                    Order Confirmation
                </a>
            </li>
            <!--<li role="presentation" class="divider"></li>
                    <li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>-->
        </ul>
    </div>
    @RenderBody()
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/chart.min.js"></script>
    <script src="~/Scripts/chart-data.js"></script>
    <script src="~/Scripts/easypiechart.js"></script>
    <script src="~/Scripts/easypiechart-data.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
		$('#calendar').datepicker({
		});
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
    </script>
</body>
</html>