﻿
@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li class="active">Menu</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Menu</h1>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="menu-page-header">
                    <div class="col-xs-1"></div>


                    <div class="rest-search-box col-xs-11">
                        <div class="col-xs-6 col-md-4 col-md-offset-3"><select class="small form-control"><option>Restaurant Name</option></select></div>
                        <div class="col-xs-6 col-md-4 loction-search-box">
                            <select class="form-control"><option>Loction</option></select>
                        </div>
                        <button type="button" class="btn other-btn search-btn"> Search</button>
                    </div>
                </div>


                <div class="panel-body">

                    <div class="menup-list">
                        <div class="menu-img">
                            <img src="~/Content/Images/default.png">
                        </div>
                        <div class="dish-info">
                            <p class="dish-name">Burger</p>
                            <p><span class="list-heading">Type cusine:</span><span class="list-info">north</span></p>
                            <p><span class="list-heading">Type food:</span><span class="list-info">Veg</span></p>
                            <p><span class="list-heading">Availability:</span><span class="list-info">2p.m to 9p.m Sun-Sat</span></p>
                            <p class="content-detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                            <div class="dish-price">
                                Rs. 129
                            </div>
                            <div class="menu-action-btn">
                                <div class="menu-edit-btn"><i class="fa fa-pencil-square"></i></div>
                                <div class="menu-delet-btn"><i class="fa fa-trash"></i></div>
                            </div>
                        </div>


                    </div>
                    <div class="menup-list">
                        <div class="menu-img">
                            <img src="~/Content/Images/default.png">
                        </div>
                        <div class="dish-info">
                            <p class="dish-name">Burger</p>
                            <p><span class="list-heading">Type cusine:</span><span class="list-info">north</span></p>
                            <p><span class="list-heading">Type food:</span><span class="list-info">Veg</span></p>
                            <p><span class="list-heading">Availability:</span><span class="list-info">2p.m to 9p.m Sun-Sat</span></p>
                            <p class="content-detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                            <div class="dish-price">
                                Rs. 129
                            </div>
                            <div class="menu-action-btn">
                                <div class="menu-edit-btn"><i class="fa fa-pencil-square"></i></div>
                                <div class="menu-delet-btn"><i class="fa fa-trash"></i></div>
                            </div>
                        </div>


                    </div>
                    <div class="menup-list">
                        <div class="menu-img">
                            <img src="~/Content/Images/default.png">
                        </div>
                        <div class="dish-info">
                            <p class="dish-name">Burger</p>
                            <p><span class="list-heading">Type cusine:</span><span class="list-info">north</span></p>
                            <p><span class="list-heading">Type food:</span><span class="list-info">Veg</span></p>
                            <p><span class="list-heading">Availability:</span><span class="list-info">2p.m to 9p.m Sun-Sat</span></p>
                            <p class="content-detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                            <div class="dish-price">
                                Rs. 129
                            </div>
                            <div class="menu-action-btn">
                                <div class="menu-edit-btn"><i class="fa fa-pencil-square"></i></div>
                                <div class="menu-delet-btn"><i class="fa fa-trash"></i></div>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="add-menu-btn" data-toggle="modal" data-target="#add-menu" title="click to add menu"><i class="fa fa-plus-square"></i> Add menu</div>
            </div>
        </div>
    </div>
</div>
<!--/.main-->
<!-- Modal -->
<div class="modal fade" id="add-menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add menu</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Upload Image</label>
                            <input type="file">
                            <p class="help-block">Please Upload dish image</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Type of Cusine</label>
                            <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Type of food</label>
                            <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Availability</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Price</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Current Address</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>

                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn other-btn">Add New USer</button>
            </div>
        </div>
    </div>
</div>
